In [129]:
import numpy as np
import pandas as pd
import os
import re
import matplotlib.pyplot as plt
import networkx as nx
from collections import Counter

"""
# Set display options to show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
"""
import warnings
warnings.filterwarnings('ignore')

# Reset display options to default
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')
pd.reset_option('display.width')
pd.reset_option('display.max_colwidth')

In [130]:
df_base_datos=pd.read_csv('CSVs/CLEAN_DATASET.csv')
rendimiento_df=pd.read_csv('CSVs/Rendimiento.csv')
df_dificultad=pd.read_csv('CSVs/Dificultad.csv')
df_clean_test=pd.read_csv("CSVs/Clean_test.csv")

In [131]:
df_base_datos['KC(Default)'] = df_base_datos['KC(Default)'].str.replace(' ', '_', regex=False)

In [135]:
kc_counter = Counter()

# Iterar sobre la columna de KC y contar las ocurrencias de cada skill
for skills in df_base_datos['KC(Default)'].dropna():
    for skill in skills.split('~~'):
        kc_counter[skill] += 1

# Convertir el Counter a un DataFrame para una mejor visualización
kc_count_df = pd.DataFrame(kc_counter.items(), columns=['Skill', 'Count']).sort_values(by='Count', ascending=False)

                                       Skill  Count
4                           Entering_a_given  18076
10                           Remove_constant  14513
1                        Using_small_numbers  12218
17                      Using_simple_numbers  11956
8                          Identifying_units   8791
13                      Changing_axis_bounds   8257
21                        Remove_coefficient   8230
7                Remove_positive_coefficient   7744
12                        Labelling_the_axes   6420
23               Consolidate_vars_with_coeff   6397
3                    Using_difficult_numbers   6196
0                            Define_Variable   5979
18                       Using_large_numbers   5938
9                           Eliminate_Parens   5348
2           Write_expression,_positive_slope   4892
27                              Add/Subtract   4883
28                           Multiply/Divide   4750
11                    Find_X,_positive_slope   4480
14                   Changing_axis_intervals   3927
26                     combine-like-terms-sp   3574
25                Consolidate_vars,_no_coeff   2709
46                     Consolidate_vars,_any   2451
37                           perform-mult-sp   1980
42                    Find_Y,_positive_slope   1859
47            Select_Multiply/Divide,_nested   1852
29                     simplify-fractions-sp   1663
6                             Find_Y,_Simple   1538
43               Extract_to_consolidate_vars   1417
5                             Find_X,_Simple   1272
24                   Select_Eliminate_Parens   1254
39                             distribute-sp   1225
36                      Select_Combine_Terms   1179
22                    Find_X,_negative_slope   1173
15                    Convert_unit,_standard   1166
30                   Setting_the_y-intercept   1070
31                         Setting_the_slope   1057
55           Labelling_point_of_intersection   1045
32                  Entering_the_y-intercept   1007
33                        Entering_the_slope   1003
50                           Select_Multiply    972
53                   Variable_in_denominator    963
62                  Placing_coordinate_point    949
79          Entering_a_computed_linear_value    936
48               combine-like-terms-whole-sp    919
20          Write_expression,_negative_slope    885
16                  Correctly_placing_points    862
49                     perform-mult-whole-sp    854
45                                 factor-sp    652
35                Calculate_Eliminate_Parens    603
41                          Find_Y,_any_form    575
70                    Negative_Constant,_GLF    533
40                      perform-mult-row2-sp    532
76                   Positive_Constants,_GLF    531
81          Entering_a_given_quadratic_value    526
54                    Find_Y,_negative_slope    511
78             Entering_a_given_linear_value    486
71                          Entering_a_point    428
59                    Negative_Constant,_SIF    294
80       Entering_a_computed_quadratic_value    285
34      Write_expression,_initial_and_change    285
57       Write_expression,_initial_and_point    272
38                         perform-mult-r-sp    272
44                                     Done?    261
67           Including_the_line_when_shading    247
65                      Shading_greater_than    236
58              Write_expression,_two_points    227
69                         Shading_less_than    210
63           Excluding_the_line_when_shading    199
73                 Entering_y-intercept,_GLF    175
77               Write_expression,_quadratic    156
82                       factor-quadratic-sp    147
66                   Positive_Constants,_SIF    146
61                 Entering_y-intercept,_SIF    135
74  Shading_GLF_equation_with_positive_slope    128
72                 Entering_x-intercept,_GLF    122
84                               qft-num2-sp    109
83                               qft-num1-sp    109
85                                qft-den-sp    108
86                            Apply_Exponent    103
52                       Convert_unit,_mixed    103
64  Shading_SIF_equation_with_positive_slope     95
51            Calculate_negative_coefficient     93
75  Shading_GLF_equation_with_negative_slope     85
88                       Entering_slope,_SIF     83
89                       Entering_slope,_GLF     70
60                 Entering_x-intercept,_SIF     68
68  Shading_SIF_equation_with_negative_slope     62
87                  Convert_unit,_multiplier     53
90                   Write_expression,_ratio     29
92               Remove_negative_coefficient     22
91                    Make_variable_positive     21
96                   combine-like-terms-r-sp     19
95                               invert-mult     16
93                         done_no_solutions     15
19                          ax+b=c,_negative     14
94                          Isolate_positive      8
56                          Isolate_negative      6

In [126]:

# Separar los KCs en cada celda y aplanar la lista resultante
# Obtener todos los KCs únicos de las columnas KC0 a KC5
kc_columns = ['KC_1', 'KC_2', 'KC_3', 'KC_4', 'KC_5']
all_kcs = pd.concat([df_clean_test[col].dropna() for col in kc_columns if df_clean_test[col].dropna().apply(lambda x: isinstance(x, str)).all()]).unique()
# Obtener el número de KCs únicos
sorted(all_kcs)

['0',
 'Add/Subtract',
 'Calculate_Eliminate_Parens',
 'Calculate_negative_coefficient',
 'Changing_axis_bounds',
 'Changing_axis_intervals',
 'Consolidate_vars,_any',
 'Consolidate_vars,_no_coeff',
 'Consolidate_vars_with_coeff',
 'Convert_unit,_mixed',
 'Convert_unit,_standard',
 'Define_Variable',
 'Eliminate_Parens',
 'Entering_a_computed_linear_value',
 'Entering_a_computed_quadratic_value',
 'Entering_a_given',
 'Entering_a_given_linear_value',
 'Entering_a_given_quadratic_value',
 'Entering_a_point',
 'Entering_the_slope',
 'Entering_the_y-intercept',
 'Excluding_the_line_when_shading',
 'Extract_to_consolidate_vars',
 'Find_X,_Simple',
 'Find_X,_negative_slope',
 'Find_X,_positive_slope',
 'Find_Y,_Simple',
 'Find_Y,_any_form',
 'Find_Y,_negative_slope',
 'Find_Y,_positive_slope',
 'Identifying_units',
 'Including_the_line_when_shading',
 'Labelling_point_of_intersection',
 'Labelling_the_axes',
 'Multiply/Divide',
 'Negative_Constant,_GLF',
 'Placing_coordinate_point',
 'Positive_Constants,_GLF',
 'Remove_coefficient',
 'Remove_constant',
 'Remove_negative_coefficient',
 'Remove_positive_coefficient',
 'Select_Combine_Terms',
 'Select_Eliminate_Parens',
 'Select_Multiply',
 'Select_Multiply/Divide,_nested',
 'Setting_the_slope',
 'Setting_the_y-intercept',
 'Shading_GLF_equation_with_positive_slope',
 'Shading_greater_than',
 'Shading_less_than',
 'Using_difficult_numbers',
 'Using_large_numbers',
 'Using_simple_numbers',
 'Using_small_numbers',
 'Variable_in_denominator',
 'Write_expression,_initial_and_change',
 'Write_expression,_negative_slope',
 'Write_expression,_positive_slope',
 'Write_expression,_quadratic',
 'Write_expression,_two_points',
 'combine-like-terms-sp',
 'combine-like-terms-whole-sp',
 'distribute-sp',
 'done_no_solutions',
 'factor-sp',
 'perform-mult-r-sp',
 'perform-mult-row2-sp',
 'perform-mult-sp',
 'perform-mult-whole-sp',
 'qft-den-sp',
 'qft-num1-sp',
 'qft-num2-sp',
 'simplify-fractions-sp']

In [127]:
# Obtener todos los KCs únicos de la columna KC(Default)
kcs_default = df_base_datos['KC(Default)'].dropna().str.split('~~').explode().unique()

sorted(kcs_default)

['Add/Subtract',
 'Apply_Exponent',
 'Calculate_Eliminate_Parens',
 'Calculate_negative_coefficient',
 'Changing_axis_bounds',
 'Changing_axis_intervals',
 'Consolidate_vars,_any',
 'Consolidate_vars,_no_coeff',
 'Consolidate_vars_with_coeff',
 'Convert_unit,_mixed',
 'Convert_unit,_multiplier',
 'Convert_unit,_standard',
 'Correctly_placing_points',
 'Define_Variable',
 'Done?',
 'Eliminate_Parens',
 'Entering_a_computed_linear_value',
 'Entering_a_computed_quadratic_value',
 'Entering_a_given',
 'Entering_a_given_linear_value',
 'Entering_a_given_quadratic_value',
 'Entering_a_point',
 'Entering_slope,_GLF',
 'Entering_slope,_SIF',
 'Entering_the_slope',
 'Entering_the_y-intercept',
 'Entering_x-intercept,_GLF',
 'Entering_x-intercept,_SIF',
 'Entering_y-intercept,_GLF',
 'Entering_y-intercept,_SIF',
 'Excluding_the_line_when_shading',
 'Extract_to_consolidate_vars',
 'Find_X,_Simple',
 'Find_X,_negative_slope',
 'Find_X,_positive_slope',
 'Find_Y,_Simple',
 'Find_Y,_any_form',
 'Find_Y,_negative_slope',
 'Find_Y,_positive_slope',
 'Identifying_units',
 'Including_the_line_when_shading',
 'Isolate_negative',
 'Isolate_positive',
 'Labelling_point_of_intersection',
 'Labelling_the_axes',
 'Make_variable_positive',
 'Multiply/Divide',
 'Negative_Constant,_GLF',
 'Negative_Constant,_SIF',
 'Placing_coordinate_point',
 'Positive_Constants,_GLF',
 'Positive_Constants,_SIF',
 'Remove_coefficient',
 'Remove_constant',
 'Remove_negative_coefficient',
 'Remove_positive_coefficient',
 'Select_Combine_Terms',
 'Select_Eliminate_Parens',
 'Select_Multiply',
 'Select_Multiply/Divide,_nested',
 'Setting_the_slope',
 'Setting_the_y-intercept',
 'Shading_GLF_equation_with_negative_slope',
 'Shading_GLF_equation_with_positive_slope',
 'Shading_SIF_equation_with_negative_slope',
 'Shading_SIF_equation_with_positive_slope',
 'Shading_greater_than',
 'Shading_less_than',
 'Using_difficult_numbers',
 'Using_large_numbers',
 'Using_simple_numbers',
 'Using_small_numbers',
 'Variable_in_denominator',
 'Write_expression,_initial_and_change',
 'Write_expression,_initial_and_point',
 'Write_expression,_negative_slope',
 'Write_expression,_positive_slope',
 'Write_expression,_quadratic',
 'Write_expression,_ratio',
 'Write_expression,_two_points',
 'ax+b=c,_negative',
 'combine-like-terms-r-sp',
 'combine-like-terms-sp',
 'combine-like-terms-whole-sp',
 'distribute-sp',
 'done_no_solutions',
 'factor-quadratic-sp',
 'factor-sp',
 'invert-mult',
 'perform-mult-r-sp',
 'perform-mult-row2-sp',
 'perform-mult-sp',
 'perform-mult-whole-sp',
 'qft-den-sp',
 'qft-num1-sp',
 'qft-num2-sp',
 'simplify-fractions-sp']

In [128]:
# Verificar cuáles de los KCs de KC0 a KC5 no están contenidos en los de KC(Default)
not_contained_kcs = [kc for kc in all_kcs if kc not in kcs_default]

not_contained_kcs, len(not_contained_kcs)

(['0'], 1)

NameError: name 'kcs_default' is not defined

In [107]:
# Separar los KCs en cada celda y aplanar la lista resultante
kcs2 = df_base_datos['KC(Default)'].dropna().str.split('~~').explode()

# Obtener el número de KCs únicos
unique_kcs_count_2 = sorted(kcs2.unique())

unique_kcs_count_2

['Add/Subtract',
 'Apply Exponent',
 'Calculate Eliminate Parens',
 'Calculate negative coefficient',
 'Changing axis bounds',
 'Changing axis intervals',
 'Consolidate vars with coeff',
 'Consolidate vars, any',
 'Consolidate vars, no coeff',
 'Convert unit, mixed',
 'Convert unit, multiplier',
 'Convert unit, standard',
 'Correctly placing points',
 'Define Variable',
 'Done?',
 'Eliminate Parens',
 'Entering a computed linear value',
 'Entering a computed quadratic value',
 'Entering a given',
 'Entering a given linear value',
 'Entering a given quadratic value',
 'Entering a point',
 'Entering slope, GLF',
 'Entering slope, SIF',
 'Entering the slope',
 'Entering the y-intercept',
 'Entering x-intercept, GLF',
 'Entering x-intercept, SIF',
 'Entering y-intercept, GLF',
 'Entering y-intercept, SIF',
 'Excluding the line when shading',
 'Extract to consolidate vars',
 'Find X, Simple',
 'Find X, negative slope',
 'Find X, positive slope',
 'Find Y, Simple',
 'Find Y, any form',
 'Find Y, negative slope',
 'Find Y, positive slope',
 'Identifying units',
 'Including the line when shading',
 'Isolate negative',
 'Isolate positive',
 'Labelling point of intersection',
 'Labelling the axes',
 'Make variable positive',
 'Multiply/Divide',
 'Negative Constant, GLF',
 'Negative Constant, SIF',
 'Placing coordinate point',
 'Positive Constants, GLF',
 'Positive Constants, SIF',
 'Remove coefficient',
 'Remove constant',
 'Remove negative coefficient',
 'Remove positive coefficient',
 'Select Combine Terms',
 'Select Eliminate Parens',
 'Select Multiply',
 'Select Multiply/Divide, nested',
 'Setting the slope',
 'Setting the y-intercept',
 'Shading GLF equation with negative slope',
 'Shading GLF equation with positive slope',
 'Shading SIF equation with negative slope',
 'Shading SIF equation with positive slope',
 'Shading greater than',
 'Shading less than',
 'Using difficult numbers',
 'Using large numbers',
 'Using simple numbers',
 'Using small numbers',
 'Variable in denominator',
 'Write expression, initial and change',
 'Write expression, initial and point',
 'Write expression, negative slope',
 'Write expression, positive slope',
 'Write expression, quadratic',
 'Write expression, ratio',
 'Write expression, two points',
 'ax+b=c, negative',
 'combine-like-terms-r-sp',
 'combine-like-terms-sp',
 'combine-like-terms-whole-sp',
 'distribute-sp',
 'done no solutions',
 'factor-quadratic-sp',
 'factor-sp',
 'invert-mult',
 'perform-mult-r-sp',
 'perform-mult-row2-sp',
 'perform-mult-sp',
 'perform-mult-whole-sp',
 'qft-den-sp',
 'qft-num1-sp',
 'qft-num2-sp',
 'simplify-fractions-sp']

In [85]:
df_dificultad

,Problem Name,Step Name,KC(Default),E Conceptual,E Resolución,Dificultad
0,PROP04,R1C1,nan,0.0833,0.1333,2
1,PROP04,R1C2,nan,0.2517,0.0979,3
2,PROP04,R3C1,Define Variable,0.0901,0.1081,2
3,PROP04,R3C2,"Using small numbers~~Write expression, positi...",0.3009,0.4263,7
4,PROP04,R4C1,Entering a given,0.2933,0.1333,4
...,...,...,...,...,...,...
14956,BH1T41A,coef 1,Remove constant,0.1818,0.2182,4
14957,BH1T41A,coef 1,Remove positive coefficient,0.0000,0.0000,1
14958,BH1T41A,R6C1,"Using small numbers~~Find X, positive slope~~...",0.3704,0.0000,4
14959,BH1T41A,R7C1,"Using small numbers~~Find X, positive slope~~...",0.3860,0.3158,7
14960,BH1T41A,R4C2,"Using small numbers~~Find Y, positive slope~~...",0.5000,0.0000,5

In [86]:
df_base_datos.fillna('nan',inplace=True)
df_dificultad.fillna('nan',inplace=True)
df_dificultad['KC(Default)']=df_dificultad['KC(Default)'].str.strip()
df_base_datos.columns = df_base_datos.columns.str.strip()
merged_df = pd.merge(df_base_datos, df_dificultad, left_on=["Problem Name", "Step Name", "KC(Default)"], right_on=["Problem Name", "Step Name", "KC(Default)"], how="left")
merged_df

,Row,Anon Student Id,Unit,Section,Problem Name,Problem View,Step Name,Step Start Time,Step End Time,Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default),E Conceptual,E Resolución,Dificultad
0,9938,52vEY7f17k,CTA1_13,CTA1_13-1,PROP04,1,R1C1,2005-09-09 12:23:34.0,2005-09-09 12:24:07.0,33.0,nan,1,0,0,1,nan,nan,0.0833,0.1333,2
1,9939,52vEY7f17k,CTA1_13,CTA1_13-1,PROP04,1,R1C2,2005-09-09 12:24:07.0,2005-09-09 12:24:22.0,15.0,nan,1,0,0,1,nan,nan,0.2517,0.0979,3
2,9940,52vEY7f17k,CTA1_13,CTA1_13-1,PROP04,1,R3C1,2005-09-09 12:24:22.0,2005-09-09 12:25:40.0,78.0,78.0,0,2,0,1,Define Variable,1,0.0901,0.1081,2
3,9941,52vEY7f17k,CTA1_13,CTA1_13-1,PROP04,1,R3C2,2005-09-09 12:25:40.0,2005-09-09 12:27:24.0,104.0,104.0,0,4,9,1,"Using small numbers~~Write expression, positiv...",1~~1~~1,0.3009,0.4263,7
4,9942,52vEY7f17k,CTA1_13,CTA1_13-1,PROP04,1,R4C1,2005-09-09 12:27:24.0,2005-09-09 12:27:30.0,6.0,nan,1,0,0,1,Entering a given,1,0.2933,0.1333,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246701,1078856,JP20cryBg8,CTA1_24,CTA1_24-1,NOV05,1,R5C1,2006-04-12 10:17:08.0,2006-04-12 10:18:19.0,71.0,71.0,0,2,5,1,"Entering a given~~Convert unit, mixed",21~~1,0.3286,0.3714,7
246702,1078857,JP20cryBg8,CTA1_24,CTA1_24-1,NOV05,1,R1C2,2006-04-12 10:18:19.0,2006-04-12 10:18:40.0,21.0,nan,1,0,0,1,nan,nan,0.0833,0.0000,1
246703,1078858,JP20cryBg8,CTA1_24,CTA1_24-1,NOV05,1,R2C2,2006-04-12 10:18:40.0,2006-04-12 10:18:44.0,4.0,nan,1,0,0,1,Identifying units,7,0.0833,0.0000,1
246704,1078859,JP20cryBg8,CTA1_24,CTA1_24-1,NOV05,1,R3C2,2006-04-12 10:18:44.0,2006-04-12 10:20:55.0,131.0,131.0,0,1,0,1,"Using small numbers~~Write expression, positiv...",8~~5~~11,0.1600,0.0000,2
246705,1078860,JP20cryBg8,CTA1_24,CTA1_24-1,NOV05,1,R6C2,2006-04-12 10:20:55.0,2006-04-12 10:21:07.0,12.0,nan,1,0,0,1,Entering a given,22,0.0455,0.0000,1

In [87]:
merged_df2 = pd.merge(merged_df, rendimiento_df, 
                                 left_on=["Anon Student Id"], 
                                 right_on=["Anon Student Id"], 
                                 how="left")

In [88]:
display(merged_df2)

,Row,Anon Student Id,Unit,Section,Problem Name,Problem View,Step Name,Step Start Time,Step End Time,Step Duration (sec),...,Hints,Corrects,KC(Default),Opportunity(Default),E Conceptual,E Resolución,Dificultad,X,Y,Rendimiento
0,9938,52vEY7f17k,CTA1_13,CTA1_13-1,PROP04,1,R1C1,2005-09-09 12:23:34.0,2005-09-09 12:24:07.0,33.0,...,0,1,nan,nan,0.0833,0.1333,2,0.107033,0.294725,2
1,9939,52vEY7f17k,CTA1_13,CTA1_13-1,PROP04,1,R1C2,2005-09-09 12:24:07.0,2005-09-09 12:24:22.0,15.0,...,0,1,nan,nan,0.2517,0.0979,3,0.107033,0.294725,2
2,9940,52vEY7f17k,CTA1_13,CTA1_13-1,PROP04,1,R3C1,2005-09-09 12:24:22.0,2005-09-09 12:25:40.0,78.0,...,0,1,Define Variable,1,0.0901,0.1081,2,0.107033,0.294725,2
3,9941,52vEY7f17k,CTA1_13,CTA1_13-1,PROP04,1,R3C2,2005-09-09 12:25:40.0,2005-09-09 12:27:24.0,104.0,...,9,1,"Using small numbers~~Write expression, positiv...",1~~1~~1,0.3009,0.4263,7,0.107033,0.294725,2
4,9942,52vEY7f17k,CTA1_13,CTA1_13-1,PROP04,1,R4C1,2005-09-09 12:27:24.0,2005-09-09 12:27:30.0,6.0,...,0,1,Entering a given,1,0.2933,0.1333,4,0.107033,0.294725,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246701,1078856,JP20cryBg8,CTA1_24,CTA1_24-1,NOV05,1,R5C1,2006-04-12 10:17:08.0,2006-04-12 10:18:19.0,71.0,...,5,1,"Entering a given~~Convert unit, mixed",21~~1,0.3286,0.3714,7,0.305954,0.211071,1
246702,1078857,JP20cryBg8,CTA1_24,CTA1_24-1,NOV05,1,R1C2,2006-04-12 10:18:19.0,2006-04-12 10:18:40.0,21.0,...,0,1,nan,nan,0.0833,0.0000,1,0.305954,0.211071,1
246703,1078858,JP20cryBg8,CTA1_24,CTA1_24-1,NOV05,1,R2C2,2006-04-12 10:18:40.0,2006-04-12 10:18:44.0,4.0,...,0,1,Identifying units,7,0.0833,0.0000,1,0.305954,0.211071,1
246704,1078859,JP20cryBg8,CTA1_24,CTA1_24-1,NOV05,1,R3C2,2006-04-12 10:18:44.0,2006-04-12 10:20:55.0,131.0,...,0,1,"Using small numbers~~Write expression, positiv...",8~~5~~11,0.1600,0.0000,2,0.305954,0.211071,1
246705,1078860,JP20cryBg8,CTA1_24,CTA1_24-1,NOV05,1,R6C2,2006-04-12 10:20:55.0,2006-04-12 10:21:07.0,12.0,...,0,1,Entering a given,22,0.0455,0.0000,1,0.305954,0.211071,1

In [89]:
merged_df2.drop_duplicates(subset=['Row'],keep='first',inplace=True)
merged_df2.drop(columns=['E Conceptual','E Resolución',
                         'X','Y','Step Start Time',
                         "Step End Time","Step Duration (sec)",
                        "Error Step Duration (sec)",
                         "Hints","Incorrects","Corrects",'Row'
                         ],inplace=True)

In [90]:
merged_df2

,Anon Student Id,Unit,Section,Problem Name,Problem View,Step Name,Correct First Attempt,KC(Default),Opportunity(Default),Dificultad,Rendimiento
0,52vEY7f17k,CTA1_13,CTA1_13-1,PROP04,1,R1C1,1,nan,nan,2,2
1,52vEY7f17k,CTA1_13,CTA1_13-1,PROP04,1,R1C2,1,nan,nan,3,2
2,52vEY7f17k,CTA1_13,CTA1_13-1,PROP04,1,R3C1,0,Define Variable,1,2,2
3,52vEY7f17k,CTA1_13,CTA1_13-1,PROP04,1,R3C2,0,"Using small numbers~~Write expression, positiv...",1~~1~~1,7,2
4,52vEY7f17k,CTA1_13,CTA1_13-1,PROP04,1,R4C1,1,Entering a given,1,4,2
...,...,...,...,...,...,...,...,...,...,...,...
246701,JP20cryBg8,CTA1_24,CTA1_24-1,NOV05,1,R5C1,0,"Entering a given~~Convert unit, mixed",21~~1,7,1
246702,JP20cryBg8,CTA1_24,CTA1_24-1,NOV05,1,R1C2,1,nan,nan,1,1
246703,JP20cryBg8,CTA1_24,CTA1_24-1,NOV05,1,R2C2,1,Identifying units,7,1,1
246704,JP20cryBg8,CTA1_24,CTA1_24-1,NOV05,1,R3C2,0,"Using small numbers~~Write expression, positiv...",8~~5~~11,2,1
246705,JP20cryBg8,CTA1_24,CTA1_24-1,NOV05,1,R6C2,1,Entering a given,22,1,1

## Creación del merged_df2 de test

In [91]:
merged_df2['Problem_Step'] = merged_df2['Problem Name'] + '-' + merged_df2['Step Name']

# Contar la frecuencia de cada combinación 'Problem_Step'
problem_step_counts = merged_df2['Problem_Step'].value_counts()

# Filtrar combinaciones que se hayan realizado más de 10 veces
frequent_problem_steps = problem_step_counts[problem_step_counts > 10].index

# Filtrar el merged_df2Frame original para mantener solo las filas con combinaciones frecuentes
filtered_merged_df2 = merged_df2[merged_df2['Problem_Step'].isin(frequent_problem_steps)]

filtered_merged_df2 = filtered_merged_df2.drop(columns='Problem_Step')
merged_df2 = merged_df2.drop(columns='Problem_Step')

# Seleccionar aleatoriamente alrededor de 600 filas de las combinaciones filtradas
test_merged_df2 = filtered_merged_df2.sample(n=800, random_state=42)

# Eliminar las filas seleccionadas del merged_df2Frame original
merged_df2 = merged_df2.drop(test_merged_df2.index)

In [92]:
# Paso 1: Dividir las celdas en listas usando el delimitador '~~'
merged_df2['KC(Default)'] = merged_df2['KC(Default)'].apply(lambda x: x.split('~~') if x != 'nan' else [])
merged_df2['Opportunity(Default)'] = merged_df2['Opportunity(Default)'].apply(lambda x: x.split('~~') if x != 'nan' else [])

# Número máximo de skills y oportunidades
max_kc_len = 5
max_opportunity_len = 5

# Paso 2: Expandir en columnas separadas y rellenar con ceros
for i in range(max_kc_len):
    merged_df2[f'KC_{i+1}'] = merged_df2['KC(Default)'].apply(lambda x: x[i] if i < len(x) else 0)

for i in range(max_opportunity_len):
    merged_df2[f'Opportunity_{i+1}'] = merged_df2['Opportunity(Default)'].apply(lambda x: x[i] if i < len(x) else 0)

# Eliminar columnas originales si no son necesarias
merged_df2.drop(columns=['KC(Default)', 'Opportunity(Default)'], inplace=True)


# Paso 1: Dividir las celdas en listas usando el delimitador '~~'
test_merged_df2['KC(Default)'] = test_merged_df2['KC(Default)'].apply(lambda x: x.split('~~') if x != 'nan' else [])
test_merged_df2['Opportunity(Default)'] = test_merged_df2['Opportunity(Default)'].apply(lambda x: x.split('~~') if x != 'nan' else [])

# Número máximo de skills y oportunidades
max_kc_len = 5
max_opportunity_len = 5

# Paso 2: Expandir en columnas separadas y rellenar con ceros
for i in range(max_kc_len):
    test_merged_df2[f'KC_{i+1}'] = test_merged_df2['KC(Default)'].apply(lambda x: x[i] if i < len(x) else 0)

for i in range(max_opportunity_len):
    test_merged_df2[f'Opportunity_{i+1}'] = test_merged_df2['Opportunity(Default)'].apply(lambda x: x[i] if i < len(x) else 0)

# Eliminar columnas originales si no son necesarias
test_merged_df2.drop(columns=['KC(Default)', 'Opportunity(Default)'], inplace=True)

In [93]:
merged_df2 = merged_df2.applymap(lambda x: x.replace(' ', '_') if isinstance(x, str) else x)
test_merged_df2 = test_merged_df2.applymap(lambda x: x.replace(' ', '_') if isinstance(x, str) else x)

In [94]:
merged_df2.to_csv('CSVs/Clean_Train.csv')
test_merged_df2.to_csv('CSVs/Test_to_merge.csv', index=False)